.home {
  text-align: center;
  padding: 7rem 2rem 5rem 2rem;
  background: transparent;
  animation: fadeIn 1.5s ease-in-out;
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &__title {
    font-size: 3rem;
    color: #0ff;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  }

  &__subtitle {
    font-size: 2rem;
    color: #f0f;
    margin-top: 0.5rem;
    text-shadow: 0 0 5px #f0f;
  }

  &__intro {
    margin-top: 1rem;
    font-size: 1.2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #ccc;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
